*, *::before, *::after {
    box-sizing: border-box;
  }

  body{
      background-color: teal ;
  }

/*----------------------------------------Header----------------------------------------------*/
.intro{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

@media screen and (min-width:900px) {
    .intro{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        width: 95%;
    }
}

.welcome_message{
    text-align: center;
    width: 100%;
    padding: 15px;
}

@media screen and (min-width:900px) {
    .welcome_message{
        text-align: center;
        width: 70%;
        border-right:1px solid rgb(194, 40, 40);
        padding: 15px;
    }
    
}

.info_required{
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width:900px) {
    .infor-required{ 
        font-size: 18px;
    }
}

.info_form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data{
    padding: 12px;
    width: fit-content;
    margin: auto;
}


/*-------------------------------------Navigation Bar--------------------------------------------*/
header{
    background-color: rgb(57, 209, 171);
    margin: -10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

@media screen and (min-width:1000px){
    header{
        display: flex;
        justify-content: space-between;
    }
}

.logo{
    margin: 0%;
    padding: 0%;
}

@media screen and (min-width:1000px){
    .logo{
     margin-left: 15px;
     margin-top: 10px;
    }
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    background-color: rgb(39, 224, 132) ;
    width: 100%;
    display: none;
}

@media screen and (min-width:1000px){
    nav{
        display: contents;
    }
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width:1000px) {
    nav ul{
        display: flex;
        justify-content: space-evenly;
       }
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

@media screen and (min-width:1000px) {
    nav li{
        margin-top: 20px;
        margin-left: 20px;
        width: 100%;
    }
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(252, 251, 255);
}

.nav_toggle:checked~nav {
    display: block;
}

.nav_toggle{
    display: none;
}

.nav_toggle_label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (min-width:1000px) {
    .nav_toggle_label{
        display: none;
    }
}

.search_bar{
    position: relative;
    margin: auto;
    margin-left: 10px;
    height: 50%;
    background: rgba(255, 252, 252, 0.884);
    opacity: 80%;
    margin-right: 10px;
    border: 0.5px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius:25px ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#search_mag{
    position: absolute;
}



/*------------------------------------Hotels Display----------------------*/

.hotel_cards{
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: white;
    opacity: 80%;
}

.hotel_name{
text-align: center;
padding-top: 15px;
font-size: 25px;
}

.hotel_display{
display: flex;
flex-direction: column;
}

@media screen and (min-width:900px) {
    .hotel_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

}

.hotel_img{
    float: center;
    width:  5em;
    height: 150px;
    object-fit: cover;
    margin-left: 15px;
}

@media  screen and (min-width:420px) {
    .hotel_img{
        width: 10em;
    }
}

@media  screen and (min-width:530px) {
    .hotel_img{
        width: 12em;
    }
}

@media  screen and (min-width:564px) {
    .hotel_img{
        width: 13em;
    }
}

@media screen and (min-width:610px) {
    .hotel_img{
        width:14em;
    }
}

@media screen and (min-width:700px) {
    .hotel_img{
        width:15em;
    }
}

@media screen and (min-width:750px) {
    .hotel_img{
        width:16em;
    }
}

@media  screen and (min-width:780px) {
    .hotel_img{
        width: 17.5em;
    }
}

@media screen and (min-width:830px) {
    .hotel_img{
        width: 25em;
    }
}

@media screen and (min-width:890px) {
    .hotel_img{
        width: 39em;
    }
}

@media screen and (min-width:900px) {
    .hotel_img{
        margin-bottom: 5px;
        margin-left: 5px;
        width:  450px;
        height: 250px;
    }
    
}

.info{
    text-align: center;
    font-size: 25px;
}

.hotel_description{
    margin: auto;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    width: 90%;
    font-size: 20px;
}

@media screen and (min-width:900px) {

    .hotel_description{
        font-size: 15px;
        width: 90%;
        margin-left: 15px;
        font-size: 20px;
    }
}

.hotel_price{
    font-size: 25px;
    text-align: right;
    margin-right: 5px;
}

.buttons{
    margin-bottom: 5px;
    float: right;
    margin-right: 2px;
}


.booking_button{
    background-color: rgb(46, 158, 121);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius:25px ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.compare_button{
    background-color: rgb(245, 166, 31);
    color: white;
    font-size: 15px;
    width: 90px;
    height: 30px;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius:25px ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}



/*-------------------------------------------Footer----------------------------------------------*/

.footer_links{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    color: white;
}

@media screen and (min-width:1500px) {
    .footer_links{
        font-size: 20px;
    }
}

.copyright_tag{
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width:1200px) {
    .copyright_tag{
        font-size: 20px;
    }
}