*{box-sizing: border-box;}

body{
    background-image: url(../Images/Capetown.jpg);
    background-size: cover;
}

.login{
    display: flex;
    justify-content: space-evenly;
    border: 1px black solid;
    margin: auto;
    margin-top: 20rem;
    width: 50vw;
    background-color: white;
    opacity: 70%;
}

.login_info{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: -5rem;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    font-size: 25px;
}