*{box-sizing: border-box;}

body{
    background-image: url(../Images/Capetown.jpg);
    background-size: cover;
    object-fit: contain;
}

.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10rem;
    width: 25vw;
    height: 50vh;
    background-color: white;
}


@media screen and (max-width:900px) {
    
}

.logo_img{
    margin: auto;
}

.login_info{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    font-size: 25px;
}

.logo{
    align-items: center;
    width: 60%;
    height: 60%;
}